@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gabarito:wght@400..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Noto Sans Display;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
/*   NAVBAR         */
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(81, 160, 16);
}

.nav {
    display: flex;
    text-align: center;
    font-weight: bold;
}
.nav p {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.nav p:hover {
    background-color: rgba(156, 160, 153, 0.808);
   color: rgb(129, 207, 226);
}

.cart {
    cursor: pointer;
}
.user_box {
    display: flex;
    text-align: center;
    font-weight: bold;
    gap: 40px;
}

/*   MAINBOX         */

.main_block {
    width: 100%;
    top: 70px;
    left: 0;
    background: linear-gradient(to right, rgb(9, 112, 26), rgb(9, 226, 45));
    height: 350px;
    position: absolute;
}
.info {
    padding: 20px;
    width: 100vh;
    height: max-content;
    margin: 50px auto 0;
    text-align: center;

}

.search_block {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 150vh;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.search {
    width: 60%;
}
input {
    padding: 10px;
    border-radius: 19px;
    border: none;
}
.search_request {
    color: white;
    background-color: rgb(58, 58, 211);
    border-radius: 70px;
    cursor: pointer;
    transition: 0.5s;
}
.search_request:hover {
    transform: scale(1.1);
}

.popular_book {
    width: 100%;
    text-align: center;
    position: absolute;
    background: linear-gradient(to right, rgb(9, 112, 26), rgb(9, 226, 45));
    top: 420px;
}
.popular_book h1 {
    margin-top: 30px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: rgb(235, 180, 135);
    border: 3px solid gray;
    border-radius: 8px;
    margin-top: 30px;
    width: 15%;
    margin: 30px;
    height: 550px;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.1);
}
.card h2 {
    padding: 10px;
}
.card img {
    width: 100%;
    height: 70%;
    padding: 20px;
}
.card input {
    cursor: pointer;
    margin: 3px;
}

.cart_block {
    display: none;
    right: 0;
    top: 70px;
    position: fixed;
    background-color: rgb(189, 196, 196);
    z-index: 999;
    width: 20%;
    height: 300px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}
.cart_block p {
    margin-top: 10px;
}
.cart_block input {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.open {
    display: block;
}