@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gabarito:wght@400..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Noto Sans Display;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}


nav {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    justify-content: space-around;
}

.logo {
    
}